build*/
*.vpk
*.self
*.elf
*.velf
*.out
*.sfo
roms/
apps/
*.nvram

# Local copyrighted source media, extracted software and personal saves.
/downloads/
/extracted/
/dist/
*.bin
*.app
*.dl
*.cap
*.zip
*.7z
*.iso
*.flash
clock.dat
preferences.dat
*.tmp
*.bak
*.log
__pycache__/
*.py[cod]
.env
.env.*
